
<html lang="en">
<head>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
        </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Acme|Rammetto+One|Righteous" rel="stylesheet">

</head>
<body>
   <nav>
       <div class="left">
            <a href="#"><span><i class="fa fa-play-circle"></i></span>LemmePlay</a>
       </div>
       <div class="right">
            <a href="#" id="signup" class="nav-btn">SignUp!</a>
            <a href="#" id="login" class="nav-btn">Login</a>
            <a href="#" id="aboutus" class="nav-btn">AboutUs</a>
       </div>
   </nav>
    

    <div class="content">
            <div class="text">
                    Play something.
            </div>
            <button class="btn">
                <i class="fa fa-youtube-play"></i>
            </button>
    </div>
    <section class="container">
        <button class="choice btns" id="fun">FUN</button>
        <button class="choice btns" id="motivational">MOTIVATIONAL</button>
        <button class="choice btns" id="lifeskills">LIFESKILLS</button>
        <button class="choice btns" id="philosophical">PHILOSOPHICAL</button>
      </section>
      
    <div class="modal-bg" id="about">
        <div class="modal-content">
            <div class="heading">
                <a href="#" class="abouttitle"><span><i class="fa fa-play-circle"></i></span>LemmePlay</a>
                <i class="fa fa-window-close close"></i>
            </div>
            <div id="about-content">
                <p>Lorem ipsum dolor sit amet, elit labores apeirian eam an, nam an qualisque persecuti. Has eu alii eripuit fabellas, postea fierent sapientem vix ex. Sapientem intellegat eum te. Eos dicit phaedrum an, te pri corpora singulis deterruisset. Reque nobis maiestatis eum cu, est in errem.
                </p>
                <p>
                        Eu vim melius integre posidonium. Vel ei erant mucius. No electram erroribus cum, at his omnis aperiri dissentiunt. Aeterno vivendum sit ne, cum et idque dicit, deleniti iracundia ut sed. Eum amet iudico omittantur no. Tamquam suscipiantur pro ex.
                </p>
            </div>
        </div>
    </div>
    <div class="loading">   
        <div class="circle">

        </div>
    </div>

    <div class="modal-video">
        <div class="modal-video-content">
            <iframe width="840" height="472.5" class="video" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="play-again">
                <button class="btns close-video" id="close-video">PLAY AGAIN!</button>
            </div>
        </div>
    </div>
    
    
    <script src="app.js"></script>
</body>
</html>