<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    <div class="wrapper">
        <nav>
            <div class="logo">LOGO</div>
            <ul>
                <li><a href="#">SignUp!</a></li>
                <li><a href="#">Login</a></li>
                <li><a class="active" href="#">AboutUs</a></li>
            </ul>
        </nav>
        <section class="sec1">

        </section>
        <section class="content">
            <p>

            </p>
        </section>
    </div>
</body>
</html>